  #main{
    background-color: darkseagreen;
    height: 1000px;
}
  div.cookies {
    font-size: 120px;
    text-align: center;
    position: relative;
}
  img {
    width: 1400px;
    height: 700px;
    position: relative;
}
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
  }
  .buttongroup {
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  .autoclick:hover{
    background-color: #3e8e41;
}
  .upgradebtn:hover{
  background-color: #3e8e41;
}

  .upgradebtn {
    border-left-style: solid;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-width: 0px;
    border-right-style: solid;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-top-width: 0px;
    margin-left: 601px;
    background-color: darkseagreen;
    position: fixed;
    left: 139px;
    right: 130px;
    top: 853px;
    font-family: monospace;
    border-radius: 4px;
    padding: 10px 24px;
  }
  .autoclick {
    border-left-style: solid;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-width: 0px;
    border-right-style: solid;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-top-width: 0px;
    margin-left: 601px;
    background-color: darkseagreen;
    position: fixed;
    left: 437px;
    right: 130px;
    top: 853px;
    font-family: monospace;
    border-radius: 4px;
    padding: 10px 24px;

  }
  .button{
    border-left-style: solid;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-width: 0px;
    border-right-style: solid;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-top-width: 0px;
    margin-left: 601px;
    background-color: darkseagreen;
    position: fixed;
    border-radius: 50%;
  }
 #total {
   margin-right: 20px;
 }