  body{
    background-color: darkseagreen;
}
  div.cookies {
    font-size: 120px;
    text-align: center;
    position: relative;
}
  div.asd{
    display: flex;
    justify-content: center;
  }
  img {
    width: 700px;
  } 
  
  img:active{
    transform: scale(1.05);
  }

  #upgrdbtn , #autoclick{
    display: inline-block;
  }
  .buttongroup {
    border: 1px solid green;
    color: black;
    padding: 15px 32px;
    text-decoration: black;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    text-align: center;
}
  
  .autoclick:hover{
    background-color: #3e8e41;
}
  .upgradebtn:hover{
  background-color: #3e8e41;
}

  .upgradebtn {
    border-left-style: solid;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-width: 0px;
    border-right-style: solid;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-top-width: 0px;
    background-color: darkseagreen;
    position: fixed;
    font-family: monospace;
    border-radius: 4px;
    padding: 10px 24px;
  }
  .autoclick {
    border-left-style: solid;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-width: 0px;
    border-right-style: solid;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-top-width: 0px;
    background-color: darkseagreen;
    position: fixed;
    font-family: monospace;
    border-radius: 4px;
    padding: 10px 24px;
  }
  .button{
    margin: 0 auto;
    display:block;
    background-color: darkseagreen;
    position: relative;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    float: center;
    padding: 0%;
    border: darkseagreen;
    outline: none;
  }
 #total {
   margin-right: 20px;
 }