  body{
    background-color: darkseagreen;
}
  div.cookies {
    font-size: 120px;
    text-align: center;
    position: relative;
}
  div.asd{
    display: flex;
    justify-content: center;
  }
  center {
    width: 700px;
  } 
  
  center:active{
    transform: scale(1.05);
  }

  .buttongroup {
    color: black;
    padding: 15px 32px;
    text-decoration: black;
    display: inline-block;
    font-size: 50px;
    cursor: pointer;
    outline: none;
    text-align: center;
    align-items: center;
    background-color: darkseagreen;
    border: 0px;
    margin: 0 auto;
    position: relative;
}
  
  .autoclick:hover{
    background-color: #3e8e41;
}
  .upgradebtn:hover{
  background-color: #3e8e41;
}

  .button{
    margin: 0 auto;
    display:block;
    background-color: darkseagreen;
    position: relative;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    float: center;
    padding: 0%;
    border: darkseagreen;
    outline: none;
  }
 #total {
   margin-right: 20px;
 }
 .upgdesign{
   height: 100px;
   width: 250px;
 }